@import "tailwindcss";
@plugin "daisyui";



@theme {
    --main-font: "Lora", serif;
    --main-color: #cbb58b;
}

body {
    font-family: var(--main-font);
}
.our-products .product {
    cursor: pointer;
}
.our-products .product:hover .img img {
    background-color: #cbb58b;
    
}